@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
        @apply scrollbar-thin
    }
    /*header {*/
    /*    @apply scrollbar-thin scrollbar-stable*/
    /*}*/
    /*section {*/
    /*    @apply scrollbar-thin scrollbar-stable*/
    /*}*/
}

@layer base {
    .my-gradient {
        background: linear-gradient(95deg, transparent 0%, rgb(0,196,255) 100%),
        linear-gradient(transparent 0%, #0388ed 100%),
        linear-gradient(0deg, transparent 0%, #054dd7 0%);
    }
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("/public/fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}


